html,
body {
    background: #5f8ad2 url(../img/back.jpg) center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font: 20px Arial, Helvatica, sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.opacity-div {
    background: rgba(251, 255, 251, 0.7);
    border-radius: 0;
    min-height: 90vh;
    padding: 2%;
}

div {
    text-align: center;
}

.header {
    display: block;
    clear: both;
    height: 100px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    margin-bottom: 10px;
    padding: 10px;
}

.left-part {
    float: left;
    padding: 10px;
}

.right-part {
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
}

.content {
    float: left;
    padding: 10px;
    margin-left: 10px;
    background: #5e86e2;
    width: 640px;
    height: 700px;
    text-align: left;
}

.bottom {
    background: #141926;
    height: 60px;
    margin-top: 10px;
    padding: 10px;
}

.caption {
    caption-side: top;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
}

.logo {
    width: 200px;
    height: 240px;
}

.long-col {
    width: 600px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    font-weight: bolder;
    vertical-align: bottom;
}

.bottom-line {
    border-bottom: 1px solid;
    padding-top: 5%;
}

.big-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
}

.small-col {
    width: 200px;
}

.bold {
    font-weight: bolder;
}

.player-image {
    height: 457px;
    width: 350px;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
}