html,
body {
    background: #5f8ad2 url(../img/back.jpg) center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font: 20px Arial, Helvatica, sans-serif;
}

.opacity-div{
    background: rgba(251,255,251,0.7);
    border-radius: 0;
    height: 100vh;
    padding: 2%;
}

