{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>
        League of champions
    </title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>

    <!-- Custom styles -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/foundation.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/ico"/>

    <!-- Scripts -->
    <script src="{% static 'javascript/jquery.js' %}"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="{% static 'javascript/bootstrap.js' %}"></script>

    <script src="{% static 'javascript/dx.chartjs.js' %}"></script>
    <script src="{% static 'javascript/globalize.min.js' %}"></script>
</head>

<body style="background-attachment:fixed; margin-top: 0;">
{# {% include 'navbar.html' %} #}

<div class="container-fluid">
    <div class="row">
        {% include 'navbar.html' %}
    </div>
    <div class="row opacity-div container-fluid">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>