<div style="width: 100%">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home_page' %}">League of champions 2017/18</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'matches' page_num=1 %}">Matches</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'toss' %}">Toss</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'leader_board' top=10 %}">Leader board</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'countries' %}">Teams for countries</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
