{% extends 'base.html' %}

{% block content %}
    <span>
    <a href="{% url 'leader_board' top=5 %}">Top 5</a><br><br>
    <a href="{% url 'leader_board' top=10 %}">Top 10</a><br><br>
    <a href="{% url 'leader_board' top=20 %}">Top 20</a><br><br>
    <a href="{% url 'leader_board' top=30 %}">Top 30</a><br><br>
    </span>
    <div class="container-fluid">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>
                    №
                </th>
                <th>
                    Player
                </th>
                <th>
                    Team
                </th>
                <th>
                    Goals count
                </th>
            </tr>
            </thead>
            {% for p in bombardiers %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        <a href="{% url 'player' player_id=p.2 %}">
                            {{ p.0 }}
                            {% if p.1 %}
                                {{ p.1 }}
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'team' team_id=p.3 %}">{{ p.4 }}</a>
                    </td>
                    <td>
                        {{ p.5 }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}