{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <table>
            {% for match in matches %}
                <tr>
                    <td>
                        {{ match }}
                    </td>
                    <td>
                        {{ match.tour }}
                    </td>
                    <td>
                        {{ match.host_team.group }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}