{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div id="national" data-nat="{{ nationalities }}"></div>
    <h1>{{ team }}</h1>
    <div class="container-fluid">
        <table>
            <th>
                Player
            </th>
            <th>
                Position
            </th>
            <th>
                Motherland
            </th>
            {% for player in players %}
                <tr>
                    <td>
                        <a href="{% url 'player' player_id=player.id %}">
                            {{ player.name }}
                            {% if player.surname %}
                                {{ player.surname }}
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        {{ player.position }}
                    </td>
                    <td>
                        {{ player.motherland }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <img src="{{ team.image.url }}" alt="{{ team.image.url }}">
    </div>

    <div id="chartContainer" style="width:600px; height: 600px"></div>

    <script src="{% static 'javascript/diagrama.js' %}"></script>
{% endblock %}